body, html {
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  place-content: center;
  background-color: var(--theme_background);
}

.grid {
  display: grid;
  background: var(--color-empty);
  font-size: calc(min(60vw, 50vh, 300px) / var(--size));
  grid-template-columns: repeat(var(--size), 1fr);
  user-select: none;
  padding: 1em;
  border-radius: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0.0625em 0.1875em,
    rgba(0, 0, 0, 0.05) 0 1.75em 1.4375em -0.4375em,
    rgba(0, 0, 0, 0.04) 0 0.75em 0.75em -0.4375em;
}

.grid * {
  border: 0.5px solid var(--color-block);
  line-height: 1em;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  text-align: center;
}

.filled {
  background: var(--color-block);
  color: var(--color-empty);
}

.light, .shined {
  background: var(--color-shined);
}

.light > .inner {
  padding:0px;
  display: block;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: var(--color-light);
}

.empty, .light, .shined {
  cursor: pointer;
}

.done::after, .playing::after {
  text-align: center;
  display: block;
  margin: 0.5em;
  font-size: 1.5rem;
}

.done::after {
  content: '\1f389 Done! \1f389';
}

.playing::after {
  content: 'Akari';
}
